.paymentinfo{
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
  font-size: 15px;
}

.paymentamount
{
  color: blue;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bolder;
  font-size: 20px;
}

#modal{
  background-color: #E0E0E0;
}

#card_Details{
  font-weight: bolder;
  font-size: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
